################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Initiator4xx/.vs/Initiator
/Initiator4xx/x64/Debug
/Initiator4xx/Initiator/x64/Debug
/WeixinX/.vs/WeixinX/v16
/WeixinX/WeixinX/x64
/WeixinX/x64
/小邪4.1.0.34/python-3.8.6安装包32位.exe
/WeixinX/Initiator/x64/Release
/WeixinX/.vs/WeixinX
/WeixinX/Initiator/x64/Debug
/BaiShengVx3Plus/obj
/BaiShengVx3Plus/bin/Release/net8.0-windows
/BaiShengVx3Plus/bin/Debug/net8.0-windows
/WeixinX/.vs/ProjectEvaluation
/.vs/Vx3Plus
/BaiShengVx3Plus/.vs/BaiShengVx3Plus/DesignTimeBuild
/BaiShengVx3Plus/packages
/BaiShengVx3Plus/x64/Release
/F5BotV2/.vs
/F5BotV2/obj
/LxLib/.vs
/LxLib/bin/Debug
/LxLib/obj/Debug
/libs/LinkTo.Toolkit.dll
/libs/wxmon.dll
/Loader/build.bat
/Loader/x64/Release
/WeixinX/bin/release/net8.0-windows
/BaiShengVx3Plus/x64/Debug
/LotPlans
/Build
/BsBrowserClient/bin/Debug/net8.0-windows
/BsBrowserClient/obj
/packages
/BaiShengVx3Plus/.vs/BaiShengVx3Plus/v17
/BsBrowserClient/bin/Debug/net8.0-windows7.0
